/* ========================================
   TABLET
======================================== */

@media screen and (min-width: 600px) {

    .members.grid {

        grid-template-columns:
            repeat(2, minmax(0, 1fr));

    }


    .directory-controls {

        flex-direction: row;

        align-items: center;

        justify-content: space-between;

    }


    .footer-container {

        grid-template-columns:
            repeat(2, minmax(0, 1fr));

    }

}


/* ========================================
   DESKTOP
======================================== */

@media screen and (min-width: 900px) {

    .header-container {

        padding: 1rem;

    }


    .menu-button {

        display: none;

    }


    .navigation {

        max-width: 1200px;

        margin: 0 auto;

        display: flex;

        flex-direction: row;

        justify-content: flex-end;

    }


    .navigation a {

        border-top: none;

        padding: 0.9rem 1.5rem;

    }


    .members.grid {

        grid-template-columns:
            repeat(3, minmax(0, 1fr));

    }


    .footer-container {

        grid-template-columns:
            repeat(3, minmax(0, 1fr));

    }

}


/* ========================================
   LARGE DESKTOP
======================================== */

@media screen and (min-width: 1200px) {

    main {

        padding-left: 0;

        padding-right: 0;

    }

}